* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(194, 31, 31); */
}
body {
  background-color: black;
  color: rgb(232, 233, 236);
  display: grid;
  grid-template-columns: 1fr 2.3fr 1.5fr;
  margin-inline: 4rem 2.5rem;
  font-family: "Poppins", sans-serif;
}

/* LEFT SECTION BEGINS */
.left_section {
  padding-inline-end: 2rem;
  border-right: 1px solid rgb(32, 35, 40);
}
.left_section nav {
  height: 100vh;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  left: 0;
}

.twitter_logo {
  margin-left: -0.5rem;
}
.container {
  position: relative;
  height: 100%;
}
.container > button {
  background-color: rgb(29, 155, 240);
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
}
.container > button > a {
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: 600;
}
.dual_container {
  display: flex;
  flex-direction: row;
  margin-block: 1.1rem;
  gap: 1rem;
  cursor: pointer;
}
.dual_container h2 {
  font-size: larger;
  font-weight: 400;
}
.user_container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  gap: 0.5rem;
  position: absolute;
  bottom: 4rem;
}
.user_container_txt h4 {
  font-weight: 600;
}
.user_container_txt p {
  font-size: 14px;
  color: rgb(99, 101, 106);
}

/* LEFT SECTION ENDS */

/* MID SECTION BEGINS*/
.mid_section nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.5rem);
}
.nt_cont {
  padding: 1rem;
}
.nt_head {
  position: relative;
  z-index: -1;
}
.nt_head > select {
  background-color: inherit;
  color: rgb(29, 155, 240);
  border-radius: 50px;
  padding: 0.2rem;
  border: 1px solid rgba(128, 128, 128, 0.541);
  outline: none;
  position: absolute;
  top: 0.5rem;
  left: 3.7rem;
}
.nt_main {
  margin-left: 3.7rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.541);
  padding-block-end: 1rem;
}
.nt_main > textarea {
  background-color: inherit;
  border: none;
}
.nt_main > textarea::placeholder {
  font-size: large;
}
.nt_main > h5 {
  color: rgb(29, 155, 240);
}
.nt_media {
  margin-left: 3.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;
}
.nt_media_icons > img {
  width: 1.3rem;
  margin-right: 0.8rem;
}
.nt_media > button {
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: 500;
  font-size: medium;
  border-radius: 50px;
  padding: 0.6rem 1.2rem;
}
.show_tweets {
  border-bottom: 1px solid rgba(128, 128, 128, 0.541);
  border-top: 1px solid rgba(128, 128, 128, 0.541);
  padding-block: 1rem;
}
.show_tweets > p {
  text-align: center;
  color: rgb(29, 155, 240);
}
.tweet_container {
  border-bottom: 1px solid rgba(128, 128, 128, 0.541);
  padding: 1rem;
}
.tweet_head {
  display: flex;
  gap: 0.5rem;
  /* border: 1px solid red; */
}
.tweet_head_txt > p:nth-child(1) > span,
.tweet_head a {
  color: rgb(114, 116, 121);
}
.tweet_foot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tweet_foot_icons {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.tweet_foot_icons p {
  font-size: small;
  color: rgb(128, 128, 128);
}
.tweet_foot img {
  width: 1.2rem;
}
/* MID SECTION ENDS*/

/* RIGHT PANEL STARTS */
.right_section {
  border-left: 1px solid rgb(32, 35, 40);
  padding-inline-start: 1.5rem;
}

.right_section .trends-for-you-block:hover {
  cursor: pointer;
  background-color: rgba(99, 104, 107, 0.141);
}

.widgets_input {
  position: sticky;
  padding-block: 5px;
  background-color: black;
  top: 0;
}
.widgets_input > input {
  width: 100%;
  border-radius: 30px;
  padding: 1rem;
  background-color: rgb(32, 35, 40);
  border: none;
  outline: none;
}
.widgets_input > input::placeholder {
  font-size: 15px;
}
.widgets .trends-for-you {
  border-radius: 15px;
}
.trends-for-you {
  background-color: rgb(23, 24, 28);
  margin-top: 1rem;
}

.trends-for-you-block {
  padding: 10px 15px;
}
.trends-for-you-heading > h2 {
  font-size: 19px;
  font-weight: 700;
  color: white;
  padding: 10px 15px;
}

.trends-for-you-information {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
  font-size: 12px;
  color: rgb(99, 101, 106);
}
.trends-for-you-information > i,
.user_container > a > i {
  font-size: 1rem;
  color: rgb(99, 101, 106);
}

.trends-for-you-name {
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.more-link-trends {
  color: #1d9bf0;
  text-decoration: none;
  font-size: 15px;
  padding: 0 15px;
}

.more-link-trends a {
  text-decoration: none;
}

.right_section .more:hover {
  cursor: pointer;
  background-color: rgba(99, 104, 107, 0.141);
}

.more {
  padding-top: 15px;
  padding-bottom: 20px;
}

.follow-container {
  background-color: #16181c;
  border-radius: 10px;
  margin-top: 1em;
}

.follow-content a {
  color: white;
  text-decoration: none;
}

.follow-content {
  display: grid;
  grid-template-columns: 1fr 5fr 3fr;
  gap: 1rem;
  padding: 10px 15px;
  /*margin-left: -1em;*/
}

.follow-button {
  width: 80%;
  margin: 1rem;
  border-radius: 20px;
  padding: 0.5em;
  font-weight: 600;
  border: none;
}

.follow-content .follow-button-align {
  width: 80%;
  margin: 1rem;
  border-radius: 20px;
  padding: 0.5em;
  margin-top: -0.3em;
  font-weight: 600;
  border: none;
}

.more-link {
  text-decoration: none;
  font-size: 15px;
  padding: 0 15px;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}
.more-link a {
  text-decoration: none;
  color: #1d9bf0;
}

.follow-header {
  margin-top: 1em;
  font-size: 13px;
  padding: 10px 15px;
}

.follow-content .follow-name {
  font-size: 15.5px;
  font-weight: 550;
  padding-bottom: 0.2em;
}

.follow-content p {
  font-size: 13px;
  color: rgb(99, 101, 106);
  padding-bottom: 0.5em;
}

.follow-container .follow-content:hover {
  cursor: pointer;
  background-color: rgba(99, 104, 107, 0.141);
}

.follow-container .more-link:hover {
  cursor: pointer;
  background-color: rgba(99, 104, 107, 0.141);
}

.container-link {
  padding: 1em;
}

.container-link a {
  text-decoration: none;
  color: rgb(114, 116, 121);
  font-size: 13.5px;
  font-weight: 300;
}

.container-link .page-link {
  padding-right: 0.5em;
}

.container-link a:hover {
  text-decoration: underline;
}

.container-link p {
  color: rgb(114, 116, 121);
  font-size: 13.5px;
  font-weight: 300;
  padding-top: 0.3em;
  line-height: 1.8em;
}

/* RIGHT PANEL ENDS*/
